<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
{% if author.researchgate %}
    <li>
      <a href="https://www.researchgate.net/profile/{{ author.researchgate }}" itemprop="sameAs">
        <i class="fab fa-fw fa-researchgate" aria-hidden="true"></i>Research Gate
      </a>
    </li>
{% endif %}
{% if author.googlescholar %}
    <li>
      <a href="https://scholar.google.com/citations?user={{ author.googlescholar }}" itemprop="sameAs">
        <i class="svg-icon googlescholar" aria-hidden="true"></i>Google Scholar
      </a>
    </li>
{% endif %}


